<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Detalles alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let alumno of alumnos " [routerLink]="['/alumno-detalle',alumno.matricula]">
      <ion-img src="assets/imagenes/fcfm.png" alt="" width="70" height="70"></ion-img>
      <ion-label>{{alumno.nombre}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

