<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Detalles alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-list>
    <ion-item-sliding *ngFor="let alumno of alumnos ">
    <ion-item [routerLink]="['/alumno-detalle',alumno.matricula]">

      <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)" color="success"><ion-icon slot="icon-only" name="heart"></ion-icon></ion-item-option>
      </ion-item-options>

      <ion-img src="assets/imagenes/fcfm.png" alt="" width="70" height="70"></ion-img>
      <ion-label>{{alumno.nombre}}</ion-label>

      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="danger"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
      </ion-item-options>

    </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>

